<article class="flex justify-center items-center flex-col gap-8 md:mt-32">
    <div id="section--kezdo-cim" class="flex justify-start w-[90%]">
      <h1 class="text-white text-[50px] font-bold text-left">Mit mondanak rólunk?</h1>
    </div>

    <div class="w-full xl:w-[90%]">
        <% locals.data.forEach((element, index) => { %>
            <% if (index % 2 === 0) { %>
                <%- include('./CommentCard.ejs', {
                    authorName: element.authorName,
                    authorJob: element.authorJob,
                    authorProfileImage: element.authorProfileImage,
                    comment: element.authorComment,
                    justify: "justify-end"
                }) %>
            <% } %>
            <% if (index % 2 !== 0) { %>
                <%- include('./CommentCard.ejs', {
                    authorName: element.authorName,
                    authorJob: element.authorJob,
                    authorProfileImage: element.authorProfileImage,
                    comment: element.authorComment,
                    justify: "justify-normal"
                }) %>
            <% } %>
        <% }) %>
    </div>
</article>

<script>
    const animationElementCommentCards = (element) => {
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
            if (entry.isIntersecting) {
                element.classList.add("animate-once") 
                element.classList.add("animate-fade-up") 
            }
        })
        }, {
            root: null,
            rootMargin: '0px',
            threshold: 0.1,
        })

        observer.observe(element)
    }

    document.querySelectorAll(".comment-card-for-animations").forEach(item => {
        animationElementCommentCards(item)
    })
</script>