<article class="flex justify-center items-center flex-col gap-8 md:mt-32">
    <div id="section--kezdo-cim" class="flex justify-start w-[90%]">
      <h1 class="text-white text-[50px] font-bold text-left">Mit mondanak rólunk?</h1>
    </div>

    <div class="w-full xl:w-[90%]">
        <% locals.data.forEach(element => { %>
            <% if (index % 2 === 0) { %>
                <%- include('./CommentCard.ejs', {
                    authorName: element.authorName,
                    authorJob: element.authorJob,
                    authorProfileImage: element.authorProfileImage,
                    comment: element.authorComment,
                    justify: "justify-end"
                }) %>
            <% } %>
            <% if (index % 2 !== 0) { %>
                <%- include('./CommentCard.ejs', {
                    authorName: element.authorName,
                    authorJob: element.authorJob,
                    authorProfileImage: element.authorProfileImage,
                    comment: element.authorComment,
                    justify: "justify-normal"
                }) %>
            <% } %>
        <% }) %>
    </div>
</article>