<article class="flex flex-col justify-center items-center h-[90svh] mt-32 md:mt-0 -mb-32 relative">
	<div class="text-6xl md:text-8xl text-green-500 font-mono text-center p-4">
        Sikeres küldés
    </div>

	<div class="mt-12 p-4 w-auto mx-auto text-center text-white text-opacity-50 text-[32px] font-bold font-mono">
        Köszönjük visszajelzésed, hamarosan válaszolunk
    </div>
</article>
