<div class="flex flex-col relative mt-48 mb-10">
  <div class="p-5">
    <div
      class="flex justify-center text-center text-white items-center sm::w-full xl:w-[60%] h-full xl:mr-60 bg-neutral-900 bg-opacity-50 rounded-[10px] border border-neutral-700 backdrop-blur-sm">
      <video id="algorithmvideo" width="100%">
        <source id="videosource" src="/animations/egyszeru_cseres_rendezes.mp4" type="video/mp4">
      </video>
    </div>
  </div>

  <div class="flex flex-col text-center justify-center items-center md:flex-row mt-20">
    <button id="masolasgomb" class="w-[50%] h-auto p-5 m-5 bg-slate-50" onclick="copyUrl()">Másolás</button>
    <button id="visszaporget" class="w-[50%] h-auto p-5 m-5 bg-slate-50">visszapörget</button>
    <button id="eloreporget" class="w-[50%] h-auto p-5 m-5 bg-slate-50">előrepörget</button>
    <button id="videocontrol" class="w-[50%] h-auto p-5 m-5 bg-slate-50">elindít</button>
  </div>

  <script>

  let algoritmhvideo = document.getElementById("algorithmvideo");

  let masolgomb = document.getElementById("masolasgomb");

  masolgomb.addEventListener("click", () => {

    var url = document.getElementById("videosource").src;
    navigator.clipboard.writeText(url);

  })

  let visszaporget = document.getElementById("visszaporget");

  visszaporget.addEventListener("click", () => {

    algoritmhvideo.currentTime -= 5;

  })


  let eloreporget = document.getElementById("eloreporget");

  eloreporget.addEventListener("click", () => {

    algoritmhvideo.currentTime += 5;

  })

  let videocontrol = document.getElementById("videocontrol");
  let isPlaying = false;

  videocontrol.addEventListener("click", () => {
    if (!isPlaying) {
      algoritmhvideo.play();
      isPlaying = true;
      videocontrol.textContent = "megállít";
    } else {
      algoritmhvideo.pause();
      isPlaying = false;
      videocontrol.textContent = "elindít";
    }
  });




  </script>


  <div
    class="xl:absolute xl:translate-x-[30%] xl:left-[40%] xl:top-[40%] 2xl:left-[45%] 2xl:top-[45%] w-100 m-5 h-auto bg-neutral-900 rounded-[10px] border border-neutral-700 backdrop-blur-sm">
    <div class="flex">
      <button id="python"
        class="flex justify-center gap-2 items-center w-1/3 xl:w-[185px] h-14 bg-neutral-800 bg-opacity-20 border-r-2 border-t-4 rounded-tl-lg border-fuchsia-500 border-opacity-20">
        <img class="w-[15px] h-[15px] xl:w-[25px] xl:h-[25px] ml-4" src="/images/pythonlogo.png" alt="Python logo" />
        <p class="text-white text-[10px] xl:text-[20px] font-bold font-mono">Python</p>
      </button>
      <button id="java"
        class="flex justify-center gap-2 items-center w-1/3 xl:w-[185px] h-14 bg-neutral-800 bg-opacity-20 border-r-2 border-t-4 border-fuchsia-500 border-opacity-20">
        <img class="w-[20px] h-[20px] xl:w-[30px] xl:h-[30px] ml-4" src="/images/java.png" alt="Java logo" />
        <p class="text-white text-[10px] xl:text-[20px] font-bold font-mono">Java</p>
      </button>
      <button id="csharp"
        class="flex justify-center gap-2 items-center w-1/3 xl:w-[185px] h-auto bg-neutral-800 bg-opacity-20 rounded-tr-[10px] border-r-2 border-t-4 border-fuchsia-500 border-opacity-20 backdrop-blur-sm">
        <img class="w-[20px] h-[20px] xl:w-[30px] xl:h-[30px] ml-4" src="/images/c-sharp.png" alt="Java logo" />
        <p class="text-white text-[10px] xl:text-[20px] font-bold font-mono">C-Sharp</p>
      </button>

    </div>

    <%- include('./AlgorithmCodeEx.ejs', {
      pythoncontent:'let a=0 \n let list=document.getElementById("python") \n let list=document.getElementById("python") \n let list=document.getElementById("python");',
      javacontent:'let a=0 \n let list=document.getElementById("java");',
      csharpcontent:'let a=0 \n let list=document.getElementById("csharp");'
    }) %>


  </div>
</div>