<div
    class="flex w-[836px] h-[906px] bg-neutral-900 bg-opacity-50 rounded-[10px] border border-neutral-700 backdrop-blur-sm">
    -1
</div>

<div
    class="flex w-[836px] h-[906px] bg-neutral-900 bg-opacity-50 rounded-[10px] border border-neutral-700 backdrop-blur-sm">
    <div
        class="flex w-[283px] h-[108px] bg-neutral-800 bg-opacity-20 border-r-2 border-t-4 border-fuchsia-500 border-opacity-20">
        <img class="w-[50px] h-[50px]" src="/public/images/pythonlogo.png" alt="Python logo">
        <p class="w-[172px] h-[108px] text-white text-[32px] font-bold font-mono"></p>
    </div>
</div>