<main class="flex flex-col justify-center items-center h-[80svh] relative">
    <%- include('../../components/LevelTitleBadge.ejs', { content: "Jr." || "A Szint betöltése nem sikerült" }) %>

        <%- include('../../components/LevelAlgorithm.ejs', {AlgorithmName: "Lineáris Keresés"
            || "Az Algoritmus betöltése nem sikerült" } ) %>

            <%- include('../../components/LevelAlgorithmDesc.ejs',{AlgorithmDesc: "ipsum dolor ánté ale Vodinecsár Productionáré"
                || "Az Algoritmus leírásának betöltése nem sikerült" }) %>
</main>