<main class="flex flex-col justify-center items-center h-auto lg:h-[60svh] relative sm:pt-48 pb-24">
    <div class="relative flex justify-center pb-60">
        <%- include('../../components/SearchBarTag.ejs') %>
    </div>

    <div class="relative flex justify-center items-center">
        <%- include('../../components/LevelTitleBadge.ejs', { 
            content: locals.data.level || "A Szint betöltése nem sikerült", 
            textColor: "text-neutral-900" }) 
        %>
    </div>

    <%- include('../../components/LevelAlgorithm.ejs', { 
        AlgorithmName: locals.data.name || "Az Algoritmus betöltése nem sikerült" } ) 
    %>

    <%- include('../../components/LevelAlgorithmDesc.ejs',{ 
        AlgorithmDesc: locals.data.description || "Az Algoritmus leírásának betöltése nem sikerült" }) 
    %>
</main>