<main class="flex flex-col justify-center items-center h-[80svh] relative">
    <%- include('../../components/LevelTitleBadge.ejs', { content: locals.data.level || "A Szint betöltése nem sikerült" }) %>

    <%- include('../../components/LevelAlgorithm.ejs', { AlgorithmName: locals.data.name
        || "Az Algoritmus betöltése nem sikerült" } ) %>

    <%- include('../../components/LevelAlgorithmDesc.ejs',{ AlgorithmDesc: locals.data.description
        || "Az Algoritmus leírásának betöltése nem sikerült" }) %>
</main>