<div class="justify-around flex mt-48 mb-10">
  <div
    class="flex justify-center text-center text-white items-center w-[500px] h-[500px] bg-neutral-900 bg-opacity-50 rounded-[10px] border border-neutral-700 backdrop-blur-sm"
  >
    Ide jön a videó vagy anmáció
  </div>

  <div
    class="w-[600px] h-[500px] bg-neutral-900 bg-opacity-50 rounded-[10px] border border-neutral-700 backdrop-blur-sm"
  >
    <div class="flex">
      <button
        class="flex justify-evenly items-center text-center w-[200px] h-[80px] bg-neutral-800 bg-opacity-20 border-r-2 border-t-4 rounded-tl-lg border-fuchsia-500 border-opacity-20"
      >
        <img
          class="w-[30px] h-[30px]"
          src="/images/pythonlogo.png"
          alt="Python logo"
        />
        <p class="text-white text-[20px] font-bold font-mono">Python</p>
      </button>
      <button
        class="flex justify-evenly items-center text-center w-[200px] h-[80px] bg-neutral-800 bg-opacity-20 border-r-2 border-t-4 border-fuchsia-500 border-opacity-20"
      >
        <img class="w-[40px] h-[40px]" src="/images/java.png" alt="Java logo" />
        <p class="text-white text-[20px] font-bold font-mono">Java</p>
      </button>
      <button
        class="flex justify-evenly items-center text-center w-[200px] h-[80px] bg-neutral-800 bg-opacity-20 rounded-tr-[10px] border-r-2 border-t-4 border-fuchsia-500 border-opacity-20 backdrop-blur-sm"
      >
        <img
          class="w-[40px] h-[40px]"
          src="/images/c-sharp.png"
          alt="Java logo"
        />
        <p class="text-white text-[20px] font-bold font-mono">C-Sharp</p>
      </button>
    </div>
  </div>
</div>
