<article class="flex flex-col justify-center items-center h-[80svh] relative">
  <div class="absolute inset-0 h-[100svh] w-auto bg-[url('/images/purple_ellipse.png')] bg-origin-padding -z-50"></div>

  <img src="/images/code_icon.png" alt="Oldal szinbólum" class="mt-48 w-[86px] h-[86px]" />

  <div class="mt-20 text-8xl text-white font-bold font-mono text-center">
    Az
    <span
      class="text-8xl bg-gradient-to-b from-fuchsia-50 via-fuchsia-500 to-fuchsia-800 ... text-transparent bg-clip-text font-bold font-mono">algoritmizálás</span>
  </div>

  <span class="mt-12 w-[870px] text-center text-white text-opacity-50 text-[32px] font-bold font-mono">Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque
    officiis veritatis mollitia nemo ad iure harum voluptates error dolorum
    accusamus, quia placeat, veniam fugiat excepturi ex dicta. Dolores, illo
    veniam? lo</span>

  <div class="flex justify-between gap-20 mt-12 text-2xl text-white font-bold font-mono">
    <span>Lorem ipsum 1</span>
    <span class="translate-y-20">Lorem ipsum 2</span>
    <span class="translate-y-20">Lorem ipsum 3</span>
    <span>Lorem ipsum 4</span>
  </div>
</article>