<article class="flex flex-col justify-center items-center h-[80svh] relative">

  <div class="mt-20 text-8xl text-white font-bold font-mono text-center">
    Az <span
      class="text-8xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 ... text-transparent bg-clip-text font-bold font-mono">algoritmizálás</span>
  </div>


  <span class="mt-12 text-center text-white text-[32px] font-bold font-mono">Lorem ipsum dolor sit amet consectetur
    adipisicing
    elit.
    Doloremque officiis veritatis mollitia nemo ad iure harum voluptates error dolorum accusamus, quia placeat, veniam
    fugiat excepturi ex dicta. Dolores, illo veniam? lo</span>


</article>