<article class="flex flex-col justify-center items-center h-auto mt-64 md:mt-0 relative">

  <img src="/images/code_icon.png" alt="Oldal szinbólum" class="mt-48 w-[86px] h-[86px]" />

  <div class="mt-20 text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl text-white font-bold font-mono text-center">
    Mi az
    <span class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl bg-gradient-to-b from-fuchsia-400 to-fuchsia-700 ... text-transparent bg-clip-text font-bold font-mono">
      algoritmizálás
    </span>
    ?
  </div>

  <span class="mt-12 w-full md:w-[60%] text-center p-3 text-white text-opacity-50 text-xl md:text-[32px] font-bold font-mono">
    Algoritmizálás azt jelenti, hogy egy adott problémát lépésekre bontunk, majd egy terv készítésével megpróbáljuk megoldani azokat. Ez olyan, mintha egy térképet készítenénk a probléma megoldásához. Először megértjük, hogy mi a probléma, majd kitaláljuk, hogyan tudnánk megoldani. Ezt a tervet hívjuk algoritmusnak.
  </span>

  <div class="w-[80%] flex justify-between flex-wrap gap-4 md:gap-20 mt-24 mb-12 text-2xl text-white/70 font-bold font-mono">
    <span class="flex items-center flex-row w-full gap-3 text-left lg:text-center lg:w-auto lg:-translate-y-20">
      Gondolkodás <span class="text-5xl">🧠</span>
    </span>

    <span class="flex items-center flex-row w-full gap-3 text-right lg:text-center lg:w-auto">
      Problémamegoldás <span class="text-5xl">💡</span>
    </span>

    <span class="flex items-center flex-row w-full gap-3 text-left lg:text-center lg:w-auto">
      Hatékonyság <span class="text-5xl">🏃</span>
    </span>

    <span class="flex items-center flex-row w-full gap-3 text-right lg:text-center lg:w-auto lg:-translate-y-20">
      Türelem <span class="text-5xl">⏱️</span>
    </span>
  </div>
</article>
