<article class="flex flex-col justify-center items-center h-auto mt-32 mb-12 md:mt-0 relative">
  <div class="absolute inset-0 auto h-[100vh] w-auto bg-[url('/images/purple_ellipse.png')] bg-origin-padding -z-50"></div>

  <img src="/images/code_icon.png" alt="Oldal szinbólum" class="mt-48 w-[86px] h-[86px]" />

  <div class="mt-20 text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl text-white font-bold font-mono text-center">
    Az
    <span
      class="text-3xl sm:text-3xl md:text-4xl lg:text-6xl 2xl:text-8xl bg-gradient-to-b from-fuchsia-50 via-fuchsia-500 to-fuchsia-800 ... text-transparent bg-clip-text font-bold font-mono">algoritmizálás</span>
  </div>

  <span class="mt-12 w-full md:w-[60%] text-center p-3 text-white text-opacity-50 text-xl md:text-[32px] font-bold font-mono">Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Doloremque
    officiis veritatis mollitia nemo ad iure harum voluptates error dolorum
    accusamus, quia placeat, veniam fugiat excepturi ex dicta. Dolores, illo
    veniam? lo</span>

  <div class="w-[80%] flex justify-between flex-wrap gap-4 md:gap-20 mt-12 text-2xl text-white/70 font-bold font-mono">
    <span class="w-full text-left md:text-center md:w-auto">Lorem ipsum 1</span>
    <span class="w-full text-right md:text-center md:w-auto md:translate-y-20">Lorem ipsum 2</span>
    <span class="w-full text-left md:text-center md:w-auto md:translate-y-20">Lorem ipsum 3</span>
    <span class="w-full text-right md:text-center md:w-auto">Lorem ipsum 4</span>
  </div>
</article>