<article class="">
  <div class="flex justify-around items-center">
    <!---->
    <%- include('../../components/Card.ejs', { LevelTitleBadge: true, content:
    "Jr.", title: "Kezdő szint", color: "bg-cyan-900", opacity: "opacity-75" })
    %>
    <!---->
    <%- include('../../components/Card.ejs', { LevelTitleBadge: true, content:
    "Ir.", title: "Közép szint", color: "bg-red-900", opacity: "opacity-75" })
    %>
    <!---->
    <%- include('../../components/Card.ejs', { LevelTitleBadge: true, content:
    "Sr.", title: "Haladó szint", color: "bg-purple-900", opacity: "opacity-75"
    }) %>
  </div>
</article>
