<article class="">

    <div class="flex justify-around items-center">
        <%- include('../../components/Card.ejs', {
            LevelTitleBadge: true,
            content: "Jr.",
            title: "Kezdő szint"
        }) %>
        <%- include('../../components/Card.ejs', {
            LevelTitleBadge: true,
            content: "Ir.",
            title: "Közép szint"
        }) %>
        <%- include('../../components/Card.ejs', {
            LevelTitleBadge: true,
            content: "Sr.",
            title: "Haladó szint"
        }) %>
    </div>

</article>