<aside
  class="hidden lg:block absolute left-5 top-[20%] bg-neutral-900 bg-opacity-20 rounded-full border border-neutral-700 backdrop-blur-sm p-4 z-10">
  <div class="flex flex-col text-center text-white text-opacity-80 text-3xl font-normal mb-5">
    <div class="">E</div>
    <div class="">L</div>
    <div class="">A</div>
    <div class="">K</div>
    <div class="">A</div>
    <div class="">D</div>
    <div class="">T</div>
    <div class="">Á</div>
    <div class="">L</div>
    <div class="">?</div>
  </div>
  <a href="/rolunk#segitseg" class=""><img src="/images/AskHelp.png" alt="Kérj segítséget"
      class="w-8 h-8 transition-all hover:opacity-50" /></a>
</aside>