<div
  class="relative w-[396px] h-[248px] flex justify-center items-center bg-neutral-900 bg-opacity-20 rounded-[10px] shadow border border-neutral-700 backdrop-blur-sm">
  <span class="text-center text-white text-[32px] font-bold font-mono"
    ><%= locals.title %></span
  >

  <% if (locals.LevelTitleBadge === true) { %> <%-
  include('./LevelTitleBadge.ejs', { content: locals.content, textColor:
  locals.textColor }) %> <% } %>
</div>
