<footer class="flex h-[500px] justify-around items-center">
    <div class="text-center flex justify-center items-center">
        <img class="w-[89px] h-[70px]" src="/images/icon_1024_1024_transparent.png" alt="logo">
        <h6 class="text-center text-white text-5xl font-bold tracking-[14.40px]">Algorithm</h6>
    </div>
    <div class="">
        <img class="w-[86px] h-[86px]" src="/images/lightning.png" alt="villánjel">
    </div>
    <div class="list-item-none">
        <ul class="text-left flex justify-start flex-col">
            <li class="flex justify-start items-center"><img class="w-[46px] h-[46px]" src="/images/at.svg"
                    alt="írj nekünk! Contact Us!"><a class=" text-white text-opacity-60 text-base font-bold  underline"
                    href="">Vodenicsár
                    Rajmund Rómeó</a></li>
            <li class="flex justify-center items-center"><img class="w-[46px] h-[46px]" src="/images/at.svg"
                    alt="írj nekünk! Contact Us!"><a class=" text-white text-opacity-60 text-base font-bold  underline"
                    href="">Váradi Marcell
                    Benjámin</a></li>
            <li class="flex justify-center items-center"><img class="w-[46px] h-[46px]" src="/images/at.svg"
                    alt="írj nekünk! Contact Us!"><a class=" text-white text-opacity-60 text-base font-bold  underline"
                    href="">Király
                    Márk</a></li>
        </ul>
    </div>

</footer>