<footer class="pt-10">
  <div class="flex h-auto mt-32 lg:mt-[100px] flex-col lg:flex-row md:h-[500px] justify-around items-center">
    <div class="text-center flex justify-center items-center w-1/3">
      <img class=" mb-8 md:mb-0 w-[100px] h-[100px] md:w-[70px] md:h-[70px]"
        src="/images/icon_1024_1024_transparent.png" alt="logo" />
      <h6 class="hidden md:block text-center text-white text-3xl font-bold tracking-[14.40px]">
        Algorithm
      </h6>
    </div>
    <div class="hidden md:flex justify-center w-1/3">
      <img class="w-[86px] h-[86px]" src="/images/lightning.png" alt="villánjel" />
    </div>
    <div class="list-item-none lg:m-4 mb-16 lg:w-1/3 flex justify-center">
      <ul class="text-left flex justify-start flex-col">
        <li class="flex justify-start items-center">
          <img class="w-[46px] h-[46px]" src="/images/at.svg" alt="írj nekünk! Contact Us!" />
          <a class="text-white text-opacity-60 text-base font-bold underline"
            href="mailto:kiraly.mark@liveedu.mathiasz.hu">Király Márk</a>
        </li>
        <li class="flex justify-start items-center">
          <img class="w-[46px] h-[46px]" src="/images/at.svg" alt="írj nekünk! Contact Us!" />
          <a class="text-white text-opacity-60 text-base font-bold underline"
            href="mailto:varadi.marcell_benjamin@liveedu.mathiasz.hu">Váradi Marcell Benjámin</a>
        </li>
        <li class="flex justify-start items-center">
          <img class="w-[46px] h-[46px]" src="/images/at.svg" alt="írj nekünk! Contact Us!" />
          <a class="text-white text-opacity-60 text-base font-bold underline"
            href="mailto:vodenicsar.rajmund_romeo@liveedu.mathiasz.hu">Vodenicsár Rajmund Rómeó</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center mb-4 text-white text-opacity-80 text-base font-bold">
    <span id="ev"></span> © Algorithm Team
  </div>
  <script>
    document.getElementById("ev").innerHTML = new Date().getFullYear();
  </script>
</footer>