<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Algorithm ⚡️ <%= locals.title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link
    rel="shortcut icon"
    href="/images/icon_1024_1024_transparent.png"
    type="image/x-icon"
  />
</head>
