<div class="absolute -top-10 -left-10 flex justify-center items-center <%= locals.color || "bg-white" %> <%= locals.style %> h-20 w-20 rounded-full drop-shadow-lg">
  <div class="text-center text-white text-[32px] font-bold drop-shadow-xl">
    <%= locals.content %>
  </div>
</div>
