<div class="absolute -bottom-10 -right-10 flex justify-center items-center <%= locals.color || "bg-white" %> <%= locals.icon_style %> h-20 w-20 drop-shadow-lg">
    <div class="drop-shadow-xl">
        <img
        src="/images/icon_1024_1024_transparent.png"
        alt="Oldal szinbólum"
        class="w-[76px] h-[76px]" />
    </div>
  </div>