<div class="flex justify-center items-center bg-white h-20 w-20 rounded-full drop-shadow-lg">
    <div class="text-center text-neutral-800 text-[32px] font-bold drop-shadow-xl">
        <%= locals.content %>
    </div>
</div>