<nav
  class="fixed inset-0 w-full flex justify-center items-center h-[60px] bg-transparent z-10">
  <div
    class="flex justify-between container h-full lg:h-[60px] flex-col lg:flex-row mx-auto px-4">
    <div
      class="flex justify-between lg:justify-center items-center left-0 top-0 lg:inset-0 z-50">
      <div class="flex items-center justify-center">
        <img
          src="/images/icon_1024_1024_transparent.png"
          alt="Algorithm Logo"
          class="w-[50px] h-[50px]" />
        <div
          class="text-center text-white text-base font-bold font-mono tracking-[4.80px]">
          Algorithm
        </div>
      </div>
      <div class="block lg:hidden text-white" id="toggle-menu">menü</div>
    </div>
    <div
      id="hamburger-menu"
      class="absolute hidden lg:flex justify-center mx-auto lg:mr-0 bg-neutral-900 bg-opacity-90 lg:bg-transparent h-[100vh] lg:h-auto w-full lg:justify-end left-0 rigth-0 lg:static -z-50 lg:z-0">
      <ul
        class="absolute top-1/3 left-0 rigth-0 lg:static flex justify-evenly items-center flex-col w-full mx-auto lg:mr-0 lg:flex-row lg:w-1/2 2xl:w-1/3">
        <li
          class="text-center text-white transition-all hover:text-sky-500 text-4xl lg:text-base my-4 lg:my-0 font-bold font-mono">
          <a href="/" class="">Főoldal</a>
        </li>
        <li
          class="text-center text-white transition-all hover:text-sky-500 text-4xl lg:text-base my-4 lg:my-0 font-bold font-mono">
          <a href="/algoritmusok" class="">Algoritmusok</a>
        </li>
        <li
          class="text-center text-white transition-all hover:text-sky-500 text-4xl lg:text-base my-4 lg:my-0 font-bold font-mono">
          <a href="/teszt" class="">Szintfelmérő</a>
        </li>
        <li
          class="text-center text-white transition-all hover:text-sky-500 text-4xl lg:text-base my-4 lg:my-0 font-bold font-mono">
          <a href="/rolunk" class="">Rólunk</a>
        </li>
        <% if (locals.searchYes) { %>
        <li
          id="focus-search-bar"
          class="hidden lg:block w-[37px] h-[37px] bg-zinc-300 relative rounded-full shadow backdrop-blur-sm scale-1 transition-all hover:scale-125">
          <img
            src="/images/search.svg"
            alt="Kereső"
            class="w-6 h-6 absolute inset-1.5" />
        </li>

        <script>
          document
            .querySelector("#focus-search-bar")
            .addEventListener("click", () => {
              console.log("clicked!");
              document.getElementById("searchBar").focus();
            });
        </script>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<script>
  let isOpen = false;
  document.querySelector("#toggle-menu").addEventListener("click", () => {
    if (!isOpen) {
      console.log("nyitva");

      document
        .querySelector("#hamburger-menu")
        .classList.remove("hidden", "-z-50");

      isOpen = true;
      return;
    }

    if (isOpen) {
      console.log("csukva");

      document
        .querySelector("#hamburger-menu")
        .classList.add("hidden", "-z-50");

      isOpen = false;
      return;
    }
  });
</script>
