<div
  class="flex justify-center items-center translate-y-8 bg-white rounded-full <%= locals.social_style %> h-14 w-14 drop-shadow-lg">
  <div class="drop-shadow-xl">
    <a href="<%= locals.Link %>">
      <img
        src="/images/<%= locals.SocialImgName %>"
        alt="Oldal szinbólum"
        class="rounded-full" />
    </a>
  </div>
</div>
