<div class="flex justify-center items-center translate-y-8 bg-white rounded-full <%= locals.social_style %>  h-10 sm:h-14 w-10 sm:w-14 drop-shadow-lg">
  <div class="drop-shadow-xl">
    <a href="<%= locals.Link %> flex justify-center items-center p-2">
      <img src="/images/<%= locals.SocialImgName %>" alt="Oldal szinbólum" class="w-[80%] h-[80%] md:w-full md:h-full"/>
    </a>
  </div>
</div>