<div
  class="absolute bottom-4 flex justify-center items-center bg-white rounded-full <%= locals.social_style %> h-14 w-14 drop-shadow-lg">
  <div class="drop-shadow-xl">
    <img
      src="/images/<%= locals.imageName %>"
      alt="Oldal szinbólum"
      class="rounded-full" />
  </div>
</div>
