<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage #1</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body class="bg-slate-900"></body>
</html>
