<div class="w-full flex justify-center items-center">
    <div class="relative w-full lg:w-[50vw] h-40 p-4 lg:h-[248px] flex justify-center items-center flex-col bg-neutral-900 bg-opacity-20 rounded-[10px] shadow border border-neutral-700 backdrop-blur-sm">
        <div class="text-center text-white text-xl md:text-[32px] font-bold font-mono">
            Az algoritmus amire kerestél nem található, vagy valamit elgépeltél,a szemüveg viselőse erősen ajánlott
        </div>
    </div>
</div>