<article class="flex flex-col justify-center items-center h-auto mt-32 md:mt-0 relative">
  <div class="relative w-full lg:w-[80%] lg:h-[800px] gap-4 m-8 p-8 mb-20 flex-col bg-neutral-900 bg-opacity-20 rounded-[10px] shadow border border-neutral-700 backdrop-blur-sm">
      <div class="mt-2 mb-12 text-center text-white md:text-[32px] font-bold font-mono">
        Egészítsd ki a hiányos algoritmust
      </div>

    <div class="flex gap-4 justify-center flex-col sm:flex-row">
      <div class="lg:w-[750px] lg:ml-10 bg-neutral-900 bg-opacity-20 rounded-[10px] border border-neutral-700 backdrop-blur-sm p-10">
            <ol class="text-white md:text-[32px] font-bold font-mono flex flex-col gap-2">
              <li>max = 0</li>
              <li>ciklus i = 1 .. n - 1</li>
              <li class="lg:ml-20">ha t[i] <select class="bg-neutral-900 bg-opacity-20 rounded-full border text-center border-neutral-700 backdrop-blur-sm p-2" name="" id="">
                <option class="bg-neutral-900" value=">">></option>
                <option class="bg-neutral-900" value="<"><</option>
                <option class="bg-neutral-900" value="=">=</option>
                <option class="bg-neutral-900" value="max">max</option>
                <option class="bg-neutral-900" value="min">min</option>
              </select> max akkor</li>
              <li class="lg:ml-32"><select class="bg-neutral-900 bg-opacity-20 rounded-full border text-center border-neutral-700 backdrop-blur-sm p-2" name="" id="">
                <option class="bg-neutral-900" value=">">></option>
                <option class="bg-neutral-900" value="<"><</option>
                <option class="bg-neutral-900" value="=">=</option>
                <option class="bg-neutral-900" value="max">max</option>
                <option class="bg-neutral-900" value="min">min</option>
              </select> = i</li>
              <li class="lg:ml-20">ha vége</li>
              <li>ciklus vége</li>
              <li>ki max</li>
            </ol>
      </div>
    </div>

      <div class="w-full flex justify-center mt-20">
        <button type="submit" id="checkButton" class="flex justify-center items-center w-full md:w-48 h-[60px] outline-0 border-0 bg-sky-500 rounded-[10px] text-white text-2xl font-bold font-mono mt-5 md:mt-0">
				Ellenőrzés</button>
    </div>
</article>

<script>
  checkButton.addEventListener("click", check);

  function check() {
    if (document.getElementById("option-c").checked == true) {
      document.getElementById("")
    }
    else {
      alert("OHH")
    }
  }
</script>

<div class="hidden fixed z-10 left-5 top-5 items-center p-4 mb-4 text-sm border rounded-lg bg-neutral-900 bg-opacity-20 backdrop-blur-sm text-green-400 border-green-800" role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">A Válasz Helyes!</span>
  </div>
</div>

<div class="hidden fixed z-10 left-5 top-5 items-center p-4 mb-4 text-sm border  rounded-lg bg-neutral-900 bg-opacity-20 backdrop-blur-sm text-red-400 border-red-800" role="alert">
  <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
  </svg>
  <span class="sr-only">Info</span>
  <div>
    <span class="font-medium">A Válasz Helytelen!</span>
  </div>
</div>
