<article class="flex flex-col justify-center items-center h-[80svh] relative">
  <div
    class="absolute inset-0 h-[100svh] w-auto bg-[url('/images/red_ellipse.png')] bg-origin-padding -z-50"></div>

  <img
    src="/images/error_icon.png"
    alt="Oldal szinbólum"
    class="mt-48 w-[86px] h-[86px]" />

  <div class="mt-20 text-8xl text-white font-bold font-mono text-center">
    <span>404</span>
  </div>

  <span
    class="mt-12 w-[870px] text-center text-white text-opacity-50 text-[32px] font-bold font-mono"
    >Az oldal nem található!</span
  >
</article>
